@using System.Reflection
@using Microsoft.FluentUI.AspNetCore.Components

@inherits LayoutComponentBase
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <FluentToastProvider MaxToastCount="10" />
    <FluentTooltipProvider />

    <footer class="content px-4">
        <p>&copy; P4nda Tracker @DateTime.Today.Year. Version @GetVersion()</p>
    </footer>
</div>

@code {
    public string GetVersion()
    {
        var informationalVersion = typeof(Program).Assembly
            .GetCustomAttribute<AssemblyInformationalVersionAttribute>()
            .InformationalVersion;

        return informationalVersion;;
    }
}