@using System.Reflection
@using Microsoft.FluentUI.AspNetCore.Components

@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu AppVersion="@GetVersion()" />
    </div>

    <main>
        <article class="content px-3 px-md-4">
            <BlazorApp.Client.Components.UpdateNotification />
            @Body
        </article>
    </main>

    <FluentToastProvider MaxToastCount="10" />
    <FluentTooltipProvider />
</div>

@code {
    private string GetVersion()
    {
        var informationalVersion = typeof(Program).Assembly
            .GetCustomAttribute<AssemblyInformationalVersionAttribute>()
            .InformationalVersion;

        return informationalVersion;
    }
}