@page "/"
@using BlazorApp.Shared

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private List<TrackedItem> items = [];

    protected override async Task OnInitializedAsync()
    {
        var keys = (await localStorage.KeysAsync()).Where(a => a.StartsWith(nameof(TrackedItem)));

        foreach (var key in keys)
        {
            items.Add(await localStorage.GetItemAsync<TrackedItem>(key));
        }
    }
}

@foreach (var item in items)
{
    <BlazorApp.Client.Components.TrackedItemComponent ItemToTrack="@item" />
}

<p>
    <button class="btn btn-primary" @onclick="AddItem">Add New</button>
</p>

@code {
    private void AddItem()
    {
        Navigation.NavigateTo("/edit/" + Guid.NewGuid());
    }
}