@page "/"
@using BlazorApp.Shared

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private TrackedItem[] items = [
        new TrackedItem("Item1")
        {
            Targets =
            {
                new Target
                {
                    Qty = 4,
                    Frequency = TimeSpan.FromDays(1)
                },
                new Target
                {
                    Qty = 1,
                    Frequency = TimeSpan.FromHours(4)
                },
            }
        },
        new TrackedItem("Item2")
        {
            Targets =
            {
                new Target
                {
                    Qty = 4,
                    Frequency = TimeSpan.FromDays(1)
                },
                new Target
                {
                    Qty = 1,
                    Frequency = TimeSpan.FromHours(4)
                },
            }
        },
        new TrackedItem("Item3")
        {
            Targets =
            {
                new Target
                {
                    Qty = 3,
                    Frequency = TimeSpan.FromDays(1)
                },
            }
        }
    ];
}

@foreach (var item in items)
{
    <BlazorApp.Client.Components.TrackedItemComponent ItemToTrack="@item" />
}
