@page "/"
@using BlazorApp.Shared
@using BlazorApp.Shared.Comparers
@using Microsoft.FluentUI.AspNetCore.Components

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

@code {
    private List<TrackedItem> items = [];

    protected override async Task OnInitializedAsync()
    {
        var keys = (await localStorage.KeysAsync()).Where(a => a.StartsWith(nameof(TrackedItem)));

        foreach (var key in keys)
        {
            items.Add(await localStorage.GetItemAsync<TrackedItem>(key));
        }

        items.Sort(new TrackedItemComparerDescending());
    }
}

@if (items.Any())
{
    <FluentGrid Spacing="6">

        @foreach (var item in items)
        {
            <FluentGridItem Style="min-width: 250px">
                <BlazorApp.Client.Components.TrackedItemComponent ItemToTrack="@item" />
            </FluentGridItem>
        }

    </FluentGrid>
}
else
{
    <p>No items currently tracked. Click the button below to add a new item.</p>
}

<p>
    <button class="btn btn-primary" @onclick="AddItem">Add New</button>
    <BlazorApp.Client.Components.Export />
</p>

@code {
    private void AddItem()
    {
        Navigation.NavigateTo("/edit/" + Guid.NewGuid());
    }
}