@using BlazorApp.Shared
@using Microsoft.FluentUI.AspNetCore.Components

<label>
    Qty:
    <InputNumber @bind-Value="Target.Qty" />
</label>

<label>
    Hours:
    <InputNumber @bind-Value="Hours" />
</label>

@code {
    [Parameter]
    public Target Target { get; set; }

    public double Hours
    {
        get
        {
            return Target.Frequency.TotalHours;
        }
        set
        {
            Target.Frequency = TimeSpan.FromHours(value);
        }
    }
}
